* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}
/* 
 * map height define el tamaño div que contiene el mapa
 */
#map {
  height: 100%;
  position: relative;
}

/* Navbar and Elements */
.navbar-container {
  position: sticky;
  top: 0px;
  padding: 0.9vh;
  width: 100%;
  z-index: 9;
  background-color: #075e54; /* Dark green color similar to WhatsApp */
  display: flex; /* Use flexbox to align items horizontally */
  align-items: center; /* Align items vertically */
  justify-content: space-between; /* Space out items evenly */
}
/* User name when logged */
#userName {
  display: none;
  padding: 5px;
  margin-right: 5px;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;
}

.navbar-container input[type="text"],
.navbar-container input[type="password"] {
  padding: 5px;
  margin-right: 5px;
  border: none;
  border-radius: 3px;
  background-color: #f2f2f2; /* Light gray color for input fields */
  font-size: 14px;
  color: #000;
}

#loginSubmit,
#newTask,
#register,
#logout {
  padding: 5px 10px;
  margin-left: 5px;
  border: none;
  border-radius: 3px;
  background-color: #25d36593; /* Green color similar to WhatsApp */
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}
#loggedIn-left,
#logout {
  display: none;
}

#login-register-container {
  display: flex;
}

#toggleBtn {
  background-color: #25d36593;
}
/*END Navbar and Elements END */
/* Register Form */
.register-form-container {
  display: none;
  background-color: #ffffff;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.register-form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-form-container form h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

#registerPasswordInput,
#registerUsernameInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #cccccc;
  outline: none;
}

.register-button-container {
  display: flex;
  justify-content: center;
}

#registrationSubmit,
#registrationCancel {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

/* End Register Form */
/* OVERLAY */
.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-container {
  display: none;
  width: 300px;
  height: 400px;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-top: -100px;
  margin-left: -150px;
  background-color: #5b900b;
  border-radius: 5px;
  text-align: center;
  z-index: 11;
}
.modal-container h2 {
  margin-top: 0.5em;
}

.overlay-form {
  position: relative;
  width: 80%;
  margin-left: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5em;
}

.overlay-form-inputs {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-align: left;
  margin-bottom: 4em;
}

.overlay-form-inputs label {
  line-height: 1/3em;
}
.overlay-form-inputs input {
  height: 20px;
  width: 60%;
  margin-right: 0.1em;
  float: right;
}

/************************ Botones del overlay */
.overlay-cancelar {
  position: absolute;
  top: 80%;
  left: 50%;
}
#overlay-aceptar {
  position: absolute;
  top: 80%;
  left: 25%;
}

.titulo-container {
  display: flex;
}

/**********************************************/
.close {
  display: none;
  position: absolute;
  right: 70px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.7;
  z-index: 10;
}
.close:hover {
  opacity: 1;
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

/*  nav button for dark mode */
nav #toggleBtn {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
  border-radius: 25px;
  background-color: #ccc;
  cursor: pointer;
}

nav #toggleBtn::before {
  content: "";
  position: absolute;
  left: 2.5px;
  top: 2.5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

nav #toggleBtn.dark-mode::before {
  transform: translateX(25px);
  background-color: #000;
}

nav #toggleBtn:hover {
  opacity: 0.8;
}

/* Popup for marker info */

#popup-content {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 80%;
  max-height: 80%;
  overflow-y: auto;
  z-index: 11;
}

#popup-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

#popup-date,
#popup-amount,
#popup-address,
#popup-description,
#popup-coordinates,
#popup-creator {
  font-size: 16px;
  margin-bottom: 5px;
}

/* End of CSS for Popup */
